
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in ViewBag.BoardsList)
{
    @Html.ActionLink((string)item.Title, "Index", "Board", new { boardDomain = item.Domain });
    <br />  
}

